*Importing Libraries*

In [108]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

*Importing CSV File*

In [109]:
file_path = 'CrashReport.csv'
data = pd.read_csv(file_path, index_col = 0)

*Exploratory Data Analysis*

In [110]:
data.head()

,2022,2021,2020,2019,2018,2017,2016,2015,2014,2013,...,2002,2001,2000,1999,1998,1997,1996,1995,1994,isHeader
colname,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motor Vehicle Traffic Crashes,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1.0
Fatal Crashes,39221,39785,35935,33487,33919,34560,34748,32538,30056,30202,...,38491,37862,37526,37140,37107,37324,37494,37241,36254,0.0
Traffic Crash Fatalities,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1.0
Vehicle Occupants,-,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,1.0

In [111]:
data.describe()

        isHeader
count  25.000000
mean    0.320000
std     0.476095
min     0.000000
25%     0.000000
50%     0.000000
75%     1.000000
max     1.000000

In [112]:
print(data.isnull().sum())

2022        1
2021        1
2020        1
2019        1
2018        1
2017        1
2016        1
2015        1
2014        1
2013        1
2012        1
2011        1
2010        1
2009        1
2008        1
2007        1
2006        1
2005        1
2004        1
2003        1
2002        1
2001        1
2000        1
1999        1
1998        1
1997        1
1996        1
1995        1
1994        1
isHeader    1
dtype: int64

In [113]:
data.replace('-', np.nan, inplace = True)
data = data.dropna()

In [114]:
data.describe()

        isHeader
count  19.000000
mean    0.105263
std     0.315302
min     0.000000
25%     0.000000
50%     0.000000
75%     0.000000
max     1.000000

*Renaming indexes for cleaning purposes*

In [115]:
data = data.rename(index = {'&nbsp;&nbsp;Motorcyclists' : 'Motorcyclists'})

In [116]:
data = data.rename(index = {'Unknown' : 'Unknown1', 'Other/ Unknown' : 'Unknown2', 'Total*' : 'Total'})

*Transposing Database to flip **Rows** with **Cloumns***

In [119]:
data = data.transpose()

colname,Fatal Crashes,Drivers,Passengers,Unknown1,Sub Total1,Motorcyclists,Pedestrians,Pedalcyclists,Unknown2,Sub Total2,Total,Vehicle Miles Traveled (Billions),Resident Population (Thousands),Registered Vehicles (Thousands),Licensed Drivers (Thousands),Fatalities per 100 Million Vehicle Miles Traveled,"Fatalities per 100,000 Population","Fatalities per 100,000 Registered Vehicles","Fatalities per 100,000 Licensed Drivers"
2022,39221,20908,6393,43,27344,6218,7522,1105,325,8952,42514,3196,333288,303529,235086,1.33,12.76,14.01,18.08
2021,39785,21716,6580,43,28339,6143,7470,976,302,8748,43230,3132,332032,302634,232782,1.38,13.02,14.28,18.57
2020,35935,19552,6011,54,25617,5620,6565,948,257,7770,39007,2904,331512,297101,228196,1.34,11.77,13.13,17.09
2019,33487,17984,5846,61,23891,5044,6272,859,289,7420,36355,3262,328330,299267,228916,1.11,11.07,12.15,15.88
2018,33919,18321,5962,49,24332,5038,6374,871,220,7465,36835,3240,326838,297036,227558,1.14,11.27,12.4,16.19
2017,34560,18819,6237,74,25130,5226,6075,806,236,7117,37473,3210,325122,290336,225346,1.17,11.53,12.91,16.63
2016,34748,18717,6485,74,25276,5337,6080,853,260,7193,37806,3174,323072,288034,221712,1.19,11.7,13.13,17.05
2015,32538,17615,6213,71,23899,5029,5494,829,233,6556,35484,3090,320739,281312,218084,1.15,11.06,12.61,16.27
2014,30056,16470,5766,71,22307,4594,4910,729,204,5843,32744,3020,318386,274805,214092,1.08,10.28,11.92,15.29
2013,30202,16520,5896,67,22483,4692,4779,749,190,5718,32893,2983,316060,269294,212160,1.1,10.41,12.21,15.5
2012,31006,16838,6106,73,23017,4986,4818,734,227,5779,33782,2963,313878,265647,211815,1.14,10.76,12.72,15.95
2011,29867,16474,5972,64,22510,4630,4457,682,200,5339,32479,2945,311583,265043,211875,1.1,10.42,12.25,15.33
2010,30296,16864,6451,56,23371,4518,4302,623,185,5110,32999,2967,309327,257312,210115,1.11,10.67,12.82,15.71
2009,30862,17670,6793,63,24526,4469,4109,628,151,4888,33883,2957,306772,258958,209618,1.15,11.05,13.08,16.16
2008,34172,19279,7441,71,26791,5312,4414,718,188,5320,37423,2977,304094,259360,208321,1.26,12.31,14.43,17.96
2007,37435,21717,8716,94,30527,5174,4699,701,158,5558,41259,3031,301231,257472,205742,1.36,13.7,16.02,20.05
2006,38648,22831,9187,101,32119,4837,4795,772,185,5752,42708,3014,298380,251415,202810,1.42,14.31,16.99,21.06
2005,39252,23237,9750,83,33070,4576,4892,786,186,5864,43510,2989,295517,245628,200549,1.46,14.72,17.71,21.7
2004,38444,23158,10042,76,33276,4028,4675,727,130,5532,42836,2965,292805,237949,198889,1.44,14.63,18,21.54
2003,38477,23352,10171,104,33627,3714,4774,629,140,5543,42884,2890,290108,230633,196166,1.48,14.78,18.59,21.86
2002,38491,23625,10370,110,34105,3270,4851,665,114,5630,43005,2856,287625,225685,194602,1.51,14.95,19.06,22.1
2001,37862,22914,10227,102,33243,3197,4901,732,123,5756,42196,2796,284969,221230,191276,1.51,14.81,19.07,22.06
2000,37526,22914,10451,86,33451,2897,4763,693,141,5597,41945,2747,282162,217028,190625,1.53,14.87,19.33,22
1999,37140,22971,10325,96,33392,2483,4939,754,149,5842,41717,2690,272691,212685,187170,1.55,15.3,19.61,22.29
1998,37107,22654,10327,107,33088,2294,5228,760,131,6119,41501,2628,270248,208076,184861,1.58,15.36,19.95,22.45
1997,37324,22730,10765,114,33609,2116,5321,814,153,6288,42013,2552,267784,203568,182709,1.65,15.69,20.64,22.99
1996,37494,22572,10860,102,33534,2161,5449,765,154,6368,42065,2484,265229,201631,179539,1.69,15.86,20.86,23.43
1995,37241,22370,10576,118,33064,2227,5584,833,109,6526,41817,2423,262803,197065,176628,1.73,15.91,21.22,23.68
1994,36254,21596,10294,108,31998,2320,5489,802,107,6398,40716,2358,260327,192497,175403,1.73,15.64,21.15,23.21
isHeader,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [121]:
data = data.drop(data.index[-1])

*Saving the modified CSV into a new CSV file*

In [122]:
data.to_csv('modified_CrashReport.csv', index = True)